html {
  background: #333;
  font-family: "masaakiregular";
  color: #ccccb1;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "8-bit_operator_scregular";
}

#container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.gonorth h6 {
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  color: #9be;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

p,
table,
ul,
ol {
  font-size: 1.3em;
}

table {
  width: 100%;
}

th {
  padding-bottom: 0.8em;
}

td {
  padding-right: 0.8em;
}

button.MuiButton-outlinedPrimary {
  font-size: 1.2rem;
}

button.MuiButton-outlinedSecondary {
  font-size: 1.2rem;
}

div.MuiInputBase-root {
  font-size: 1.3em;
}

th:first-child {
  width: 40%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #9be;
  border-radius: 3px;
}
