:root {
  --gn-spacing: 8px;
  --gn-background: #222;
  --gn-blue: #7bb0ff;
  --gn-input: #ffa57b;
  --gn-content: #eed;
  --gn-content-new: #ededb9;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .gn-io-device {
    max-width: none;
  }
}

/* Small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
  .gn-io-device {
    max-width: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gn-io-device {
    max-width: 48rem;
  }
}

.gonorth .new-content {
  transition: color 1s ease-in-out;
  color: var(--gn-content-new);
}
